<h1>Listing ip_addresses</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ip_addresses.each do |ip_address| %>
  <tr>
    <td><%= ip_address.location %></td>
    <td><%= ip_address.latitude %></td>
    <td><%= ip_address.longitude %></td>
    <td><%= link_to 'Show', ip_address %></td>
    <td><%= link_to 'Edit', edit_ip_address_path(ip_address) %></td>
    <td><%= link_to 'Destroy', ip_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ip address', new_ip_address_path %>
