<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @ip_address.location %>
</p>

<p>
  <b>Latitude:</b>
  <%= @ip_address.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @ip_address.longitude %>
</p>


<%= link_to 'Edit', edit_ip_address_path(@ip_address) %> |
<%= link_to 'Back', ip_addresses_path %>
