<!DOCTYPE html>
<html>
<head>
  <title>Gmaps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlnjO4sqObdXocPOwv-ZuReE2-Iufn51A&sensor=false"></script>
</head>
<body>

<%= yield %>

</body>
</html>
